body{
    margin: 0;
    text-align: center;
    margin-bottom: 100px;
}
.container{
    display: flex;
    align-items: flex-end;    
    justify-content: space-around;
    background-color: #182042;
    padding-bottom: 100px;
    border: 5px solid rgb(243, 232, 232);
    border-radius: 10px;
}
.home,.guest{
    display: flex;
    flex-direction: column;
    font-family: "Momo Trust Display", sans-serif;
    color: white;
    margin-bottom: 0;
}
.display{
    width: 200px;
    height: 100px;
    background-color: black;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    width: 200px;
}
button{
    border: 1px solid #8a95b7;
    font-family: digitalfont;
    background-color: #182042;
    color: #8a95b7;
    cursor: pointer;
    padding: 10px 17px;
    font-size: 20px;       
    margin: 6px;            
    border-radius: 10px;
}
#hnumber,#gnumber{
    color: #f94561;
    font-family: digitalfont;
    width: 200px;
    font-size: clamp(40px, 15vw, 80px);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    src: url("digital-7.regular.ttf");
    font-family: digitalfont;
}
.new-game{
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}
#endcredits{
    font-family: "Momo Trust Display", sans-serif;
}